.scroll_section_1 {
background-color: red;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
@include mobile {
height: 382px;
}
@include tablet {
  height: 536px;
}
@include desktop {
  min-height: 100vh; 
}
}

.title {
  color: white;

  @include mobile {
    @include heading-medium;
}
@include tablet {
  @include heading-large;
}
@include desktop {
  @include heading-xxxl;
}
}

.text {
  color: $gray-400;
  @include mobile {
    @include  paragraph-small;
    margin-bottom: 16px;
}
@include tablet {
  @include  paragraph-small;
  margin-top: 8px;
  margin-bottom: 28px;
}
@include desktop {
  @include label-xl;
  margin-top: 20px;
  margin-bottom: 79px;
}
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include mobile {
    gap: 18px;
    height: 228px;
  }
  @include tablet {
    height: 368px;
    gap: 14px;
  }
  
  @include desktop {
    height: 912px;
    gap: 36px;
  }
}

.message_logo{
  background-image: url($sprite-image); 
  @include mobile {
    background-position: -575px -779px;
    width: 84px;
	  height: 32px;
  }
  @include tablet {
    background-position: -808px -656px;
    width: 136px;
    height: 52px;
  }
  @include desktop {
    background-position:-20px -779px;
    width: 280px;
    height: 111px;
  }
}

.message_title {
  @include mobile {
    @include heading-medium
  }
  @include tablet {
    @include heading-xl
  }
  
  @include desktop {
    @include heading-xxxl
  }
}