.scroll_section_1 {
position: relative;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
@include mobile {
height: 382px;
}
@include tablet {
  height: 536px;
}
@include desktop {
  min-height: 100vh; 
}

& img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.title {
  z-index: 100;
  color: white;

  @include mobile {
    @include heading-medium;
}
@include tablet {
  @include heading-large;
}
@include desktop {
  @include heading-xxxl;
}
}

.text {
  z-index: 100;
  color: $gray-400;
  @include mobile {
    @include  paragraph-small;
    margin-bottom: 16px;
}
@include tablet {
  @include  paragraph-small;
  margin-top: 8px;
  margin-bottom: 28px;
}
@include desktop {
  @include label-xl;
  margin-top: 20px;
  margin-bottom: 79px;
}
}
}
.scroll_section_2 {
  width: 100%;

  @include mobile {
    height: 542px;
  padding-top: 48px;
    }
    @include tablet {
      height: 558px;
      padding-top: 40px;
    }
    @include desktop {
      height: 919px;
      padding-top: 160px;
     
    }

    & .swipe_1 {
      background-color: aqua;
    
      @include mobile {
        height: 400px;
      margin-top: 20px;
        }
        @include tablet {
          padding-top: 32px;
        }
        @include desktop {
          height: 510px;
          padding-top: 51px;
         
        }
    }
}
.scroll_section_3 {
  width: 100%;
  @include mobile {
    height: 337px;
  padding-top: 48px;
    }
    @include tablet {
      height: 410px;
      padding-top: 80px;
    }
    @include desktop {
      height: 1020px;
      padding-top: 160px;
    }
    & .swipe_2 {
      background-color: greenyellow;
    
      @include mobile {
        height: 214px;
      margin-top: 26px;
        }
        @include tablet {
          height: 216px;
          padding-top: 32px;
        }
        @include desktop {
          height: 684px;
         
        }
    }
  }


.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include mobile {
    gap: 18px;
    height: 228px;
    margin-bottom: 78px;
  }
  @include tablet {
    height: 368px;
    gap: 14px;
    margin-bottom: 70px;
  }
  
  @include desktop {
    height: 912px;
    gap: 36px;
    margin-bottom: 140px;
  }
}

.message_logo{
  background-image: url($sprite-image); 
  @include mobile {
    background-position: -575px -779px;
    width: 84px;
	  height: 32px;
  }
  @include tablet {
    background-position: -808px -656px;
    width: 136px;
    height: 52px;
  }
  @include desktop {
    background-position:-20px -779px;
    width: 280px;
    height: 111px;
  }
}

.message_title {
  @include mobile {
    @include heading-medium
  }
  @include tablet {
    @include heading-xl
  }
  
  @include desktop {
    @include heading-xxxl
  }
}