.LogIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 24px;
  @include mobile {
    @include heading-medium;
  }
  @include tablet {
    @include heading-xl;
  }
  @include desktop {
    @include heading-xxl;
    margin-bottom: 56px;
  }
}

.loginForm {
  & Input {
    margin: 4px 0;
  }
}

.autoLoginWrapper {
  color: $gray-500;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin: 9px 0 15px;
  & span {
    @include label-small;
    @include desktop {
      @include label-large;
    }
  }
}

.autoLogin {
  background: url($sprite-image);
  width: 16px;
  height: 16px;
  background-position: -603px -654px;
  margin-right: 4px;
  @include desktop {
    width: 26px;
    height: 26px;
    background-position: -598px -694px;
    margin-right: 12px;
  }
}

.autoLoginChecked {
  background-position: -649px -654px;
  @include desktop {
    background-position: -644px -694px;
  }
}

.labelChecked {
  color: $white;
}

.pageLink {
  @include mobile {
    @include paragraph-small;
  }
  @include tablet {
    @include paragraph-medium;
  }
  @include desktop {
    @include paragraph-large;
  }
  & a {
    color: $gray-300;
    &:hover {
      color: $white;
    }
  }
}

.findBox {
  & a {
    display: inline-block;
    @include mobile {
      margin: 20px;
    }
    @include tablet {
      margin: 25px;
    }
    @include desktop {
      margin: 48px;
    }
    position: relative;
    &::after {
      content: '|';
      position: absolute;
      color: $gray-800;
      @include mobile {
        right: -22px;
      }
      @include tablet {
        right: -27px;
      }
      @include desktop {
        right: -50px;
      }
    }
    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

.signupBox {
  text-align: center;
}

.signupInfo {
  color: $gray-500;
  margin-right: 10px;
  @include desktop {
    margin-right: 20px;
  }
}
