button {
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    @include mobile {
        height: 42px;
        width: 288px;
        @include label-small;
    }
    @include tablet {
        height: 50px;
        width: 416px;
        @include label-medium;
    }
    @include desktop {
        height: 86px;
        width: 1032px;
        @include label-xl;
    }
}

.login {
    background-color: $red-1;
    color: $white;
    &:hover {
        background-color: #CC1030;
    }
}

.default {
    background-color: $gray-700;
    color: $gray-400;
}

.active {
    background-color: $gray-100;
    color: $black;
    &:hover {
        background-color: $white;
    }
}