.Home {
  margin-top: -38px;
  @include tablet {
    margin-top: -56px;
  }
  @include desktop {
    margin-top: -100px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
