.title {
  @include label-small;
  margin-bottom: 4px;
  @include tablet {
    @include heading-large;
    margin-bottom: 8px;
  }
  @include desktop {
    @include heading-xl;
    margin-bottom: 12px;
  }
}

.swiperContainer {
  overflow: hidden;
  & .slideWrapper {
    @include mobile {
      width: 92px;
      margin-right: 8px;
    }
    @media (min-width: $mobile) {
      width: calc(92px + (100vw - $mobile) * ((130 - 92) / 320));
    }
    @include tablet {
      width: 130px;
    }
    @include desktop {
      width: 240px;
      margin-right: 16px;
    }
    @media (min-width: $tablet) {
      width: calc(130px + (100vw - $tablet) * ((240 - 130) / 768));
    }
    & img {
      width: 100%;
    }
    & p {
      display: none;
      color: $gray-200;
      @include tablet {
        display: block;
        margin-top: 4px;
        @include paragraph-medium;
      }
      @include desktop {
        margin-top: 8px;
        @include label-large;
      }
    }
  }
}
