.profileTitle {
    text-align: center;
    width: 100%;
    height: 56px;
    margin: 72px 0 32px 0;
    @include tablet {
        height:72px;
        margin: 74px 0 28px 0;
    }
    @include desktop {
        height: 134px;
        margin: 130px 0 44px 0;
    }
    & h2 {
        @include heading-medium;
        margin-bottom: 16px;
        @include tablet {
            @include heading-xl;
            margin-bottom: 8px
        }
        @include desktop {
            @include heading-xxxl;
            margin-bottom: 20px
        }
    }


    & p {
    color: $gray-200;
    @include label-small;
    @include tablet {
        @include label-medium;
    }
    @include desktop {
        @include label-xl; 
    }
}}