.profilePhoto, .profilePhotoEdit {
    width: 114px;
    height: 114px;
    background-image: url($sprite-image);
    border-radius: 4px;
    margin-bottom: 12px;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
        @include tablet{
            width: 132px;
            height: 132px;
        }
        @include desktop{
            margin-bottom: 16px;
            width: 234px;
            height: 234px;
        }
        &:hover {
            transform: translateY(-12px);
        }
        &::before,
        &::after {
            content: '';
            position: absolute;

        }
    &::after {
        width: 114px;
        height: 114px;
        z-index: 10;
        border-radius: 4px;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4); 
        @include tablet{
            width: 132px;
            height: 132px;
        }
        @include desktop{
            margin-bottom: 16px;
            width: 234px;
            height: 234px;
        }
    }

}
.profilePhoto {
    &::before {
        z-index: 100;
        top: 35%;
        left: 40%;
        background-image: url($sprite-image);
        background-position:  -1013px -47px;
        width: 28px;
        height: 33px;
        @include tablet{
            left: 42%;
        }
        @include desktop{
            background-position:  -1015px -119px;
            width: 33px;
            height: 39px;
            top: 40%;
            left: 45%;
        }
    }
    &.active {
        border: 4px solid white;
        &::before,
        &::after {
        background: none;
        }
}
}
.profilePhotoEdit {
    &::before {
        z-index: 100;
        top: 35%;
        left: 40%;
        background-image: url($sprite-image);
        background-position: -1089px -47px;;
        width: 36px;
        height: 36px;
        @include tablet{
            left: 42%;
        }
        @include desktop{
            background-position: -1091px -119px;
            width: 43px;
            height: 42px;
            top: 40%;
            left: 45%;
        }
    }
}

.profileFirst{
    background-position: -272px -910px;
    @include tablet{
        background-position:  -1182px -699px;
    }
    @include desktop{
            background-position:  -20px -271px;;
    }
    
}
.profileSecond{
    background-position: -540px -910px;
    @include tablet{
        background-position:  -20px -1044px;
    }
    @include desktop{
            background-position:  -554px -20px;
    }
    
}
.profileThird{
    background-position: -406px -910px;
    @include tablet{
        background-position: -1182px -851px;
    }
    @include desktop{
            background-position:  -300px -20px;
    }
    
}
.profileFourth{
    background-position: -677px -915px;
    @include tablet{
        background-position:  -175px -1048px;
    }
    @include desktop{
            background-position:  -25px -530px;
    }
}

.profileName {
    color: $gray-300;
    @include paragraph-small;
    @include desktop{
        @include paragraph-xl;
    }

}
