.FindPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  @include tablet {
    margin-top: 40px;
  }
  @include desktop {
    margin-top: 70px;
  }
}

.title {
  margin-bottom: 24px;
  @include mobile {
    @include heading-medium;
  }
  @include tablet {
    @include heading-xl;
  }
  @include desktop {
    @include heading-xxl;
    margin-bottom: 56px;
  }
}

.findForm {
  & input {
    margin: 16px 0 20px;
    @include desktop {
      margin: 24px 0 36px;
    }
  }
}

.findInfo {
  width: 303px;
  color: $gray-400;
  @include label-small;
  @include tablet {
    @include label-medium;
    margin-bottom: 16px;
    width: 416px;
  }
  @include desktop {
    @include label-xl;
    margin-bottom: 24px;
    width: 732px;
  }
}
