// 공통 스타일
.checkList {
  color: $gray-300;
  list-style-type: none;
  & label {
    cursor: pointer;
    display: flex;
    align-items: center;
    @include label-small;
    @include desktop {
      @include label-large;
    }
  }
}

.checkbox {
  display: none;
}

//  체크박스 이미지 기본 스타일
.checkImage {
  background-image: url($sprite-image);
  width: 16px;
  height: 16px;
  background-position: -603px -654px;
  margin-right: 4px;
  @include tablet {
    margin-right: 8px;
  }
  @include desktop {
    width: 26px;
    height: 26px;
    background-position: -598px -694px;
    margin-right: 12px;
  }
}

// 선택된 체크박스 스타일
.checked {
  color: $white;
  .checkImage {
    background-position: -649px -654px;
    @include desktop {
      background-position: -644px -694px;
    }
  }
}

// agreeList 타입에 대한 추가 스타일
.agreeList .checkImage {
  background-position: -697px -657px;
  width: 13px;
  height: 9px;
  @include tablet {
  }
  @include desktop {
    background-position: -693px -699px;
    width: 21px;
    height: 14px;
  }
}

//  선택된 상태에서의 agreeList 스타일
.agreeList {
  color: $gray-500;
  .checked {
    color: $gray-300;
    & .checkImage {
      background-position: -743px -657px;
      @include desktop {
        background-position: -739px -699px;
      }
    }
  }
}
